#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.logo {
  height: 2em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}


.draggable-item {
  user-select: none;
  background: white;
  transition: background-color 0.2s ease;
}

.draggable-item.dragging {
  background: rgb(235,235,235);
}
